<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405862096962-0ccu4vem863tn4f3a73jn6nhn0ums94j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405862096962-0ccu4vem863tn4f3a73jn6nhn0ums94j</string>
	<key>API_KEY</key>
	<string>AIzaSyASawW30MRZhPmxdsjWuC4ezEWNwmh7vOI</string>
	<key>GCM_SENDER_ID</key>
	<string>405862096962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noteApp</string>
	<key>PROJECT_ID</key>
	<string>diary-note-app</string>
	<key>STORAGE_BUCKET</key>
	<string>diary-note-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405862096962:ios:56970e94df97808495cddb</string>
</dict>
</plist>